body {
    background-color: black;
    background-image: linear-gradient(to right, transparent 50%, rgb(30, 30, 30) 50%);
    background-size: 4px auto;
    height: 110vw;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes moverDiv {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }

}

.perfil {
    width: 38%;
    height: auto;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    position: relative;
    padding: 5px 5px;
    background-image: linear-gradient(+135deg,rgb(57, 90, 201) 50%, orange 50%);
    transform: translate(-58.5%, calc(0% + 14%));
}
.linkedin {
    border-radius: 20%;
    width: 8%;
    position: absolute;
    top: 87%;
    left: 85%;
    transition: transform 0.3s ease;
}

.linkedin img{
    width: 100%;
    height: 100%;
}

.linkedin:hover {
    transform: scale(1.1);
}

.github {
    width: 8%;
    height: auto;
    position: absolute;
    top: 87%;
    left: 60%;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.github:hover {
    transform: scale(1.1);
}

.workana {
    width: 8%;
    position: absolute;
    top: 87%;
    left: 35%;
    display: flex;
    transition: transform 0.3s ease;
}

.workana:hover {
    transform: scale(1.1);
}

.freelas {
    width: 8%;
    position: absolute;
    top: 87%;
    left: 7%;
    display: flex;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.freelas:hover {
    transform: scale(1.1);
}

.base1 {
    margin: auto;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(100px);
    width: 97%;
    height: 97%; 
    border-radius: 12px;
    overflow: hidden;
}

.painel2 .base1 {
    height: 98% !important;
}

.base2 {
    margin: auto;
    background-color: rgb(255, 255, 255, 0.7);
    backdrop-filter: blur(100px);
    width: 97%;
    height: 99%;
    border-radius: 12px;
    overflow: hidden;
}

@media screen and (max-width: 500px){
    .painel1 .base1 h2{
        transform: translate(6.8%, calc(0% + 50%)) !important;

    }

    .painel1 h3{
        transform: translate(6.8%, calc(0% + 105%)) !important;

    }

    .painel2 .feedback1 h2 {
        top: 13% !important;
        
    }
    
}

@media screen and (max-width: 819px) {
    body {
        height: 330vw;
    }
    .painel1 {
        width: 99% !important;
        height: 30% !important;
        transform: translate(-2.5%, calc(0% + 0%)) !important;
    }

    .painel2 {
        width: 99% !important;
        transform: translate(-2.5%, calc(0% + 0%)) !important;
        background: rgb(138, 43, 226) !important;
        height: 34% !important;
        margin-top: 3%;
    }

    .painel2 h2{
        background: rgb(138, 43, 226) !important;
    }

    .painel3{
        background-image: linear-gradient(to top,rgba(138, 43, 226), rgb(57, 90, 201) 100%) !important;
        width: 99% !important;
        height: 34% !important;
        transform: translate(-2.5%, calc(0% + 0%)) !important;
        border-radius: 10px !important;
        margin-top: 3%;
    }

    .perfil{
        transform: translate(-57%, calc(0% + 10%)) !important;
    }

    h3{
        transform: translate(9%, calc(0% + 125%)) !important;
        font-size: 2.64vw !important;
        width: 79vw !important;
    }

    h2{
        font-size: 5vw !important;
        transform: translate(-1%, calc(-0% + 8%)) !important;
        position: fixed;
    }

    .painel1 h2{
        transform: translate(9%, calc(0% + 80%)) !important;
        width: 79vw !important;
        position: absolute !important;
    }

    .base1{
        height: 97%;
    }
    .base2{
        height: 98% !important;
    }
    .perfil {
        top: 2% !important;
    }
    .linkedin {
        top: 89%;
    }
    
    .github {
        top: 89%;
    }
    
    .workana {
        top: 89%;
    }
    
    .freelas {
        top: 89%;
    }

    .flutuantes1{
        transform: translate(-3%, calc(0% + -83%)) !important;
    }

    .flutuantes2{
        transform: translate(-3%, calc(0% + -188%)) !important;
    }

    .flutuantes3{
        transform: translate(-3%, calc(0% + -188%)) !important;
    }

    .flutuantes4{
        transform: translate(-3%, calc(0% + -83%)) !important;
    }

    .projeto1{
        height: 47vw !important;
        top: 4% !important;
    }

    .projeto1 h2{
        top: -2.6% !important;
        left: -6% !important;
        font-size: 3.5vw !important;
        width: 110% !important;
    }

    .projeto1 img{
        transform: translate( 1.2%, calc(9.5%)) !important;
    }

    .projeto2{
        height: 30.7vw !important;
        top: 59% !important;
    }

    .projeto2 h2{
        top: -3% !important;
        left: -6% !important;
        font-size: 3.5vw !important;
        width: 110% !important;
    }

    .projeto3{
        height: 52.5% !important;
        top: 97% !important;
    }

    .projeto3 h2{
        top: -2.4% !important;
        left: -6% !important;
        font-size: 3.5vw !important;
        width: 110% !important;
    }

    .projeto3 img{
        transform: translate( 1.2%, calc(10%)) !important;
    }

    .feedback1{
        width: 80% !important;
        max-width: 100vw !important;
        transform: translate(-4vw, calc(0% + 1%)) !important;
    }

    .feedback1 h2{
        font-size: 3vw !important;
        top: 18% !important;
        background: transparent !important;
    }

    .feedback1 img {
        width: 100% !important;
    }

    .rolagem{
        height: 86% !important;
        transform: translate(6%, calc(-0% + 17%)) !important;
    }

}

.perfil img {
    width: 100%;
    height: 100%;
    align-items: center;
    margin: auto;
}

h2 {
    position: absolute;
    color: orange;
    text-align: center;
    width: 36.5vw;
    font-size: 1vw;
    background-color: rgb(57, 90, 201);
    border-radius: 10px;
    font-size: 2vw;
    padding: 5px 5px;

}

.painel1 h2 {
    transform: translate(8%, calc(0% + 90%));
}

.painel2 h2 {
    background-image: linear-gradient(to bottom, rgb(57, 90, 201), blueviolet);
    left: 7%;
    font-size: 2vw;
    border-radius: 10px;
}

.painel3 h2 {
    background-image: linear-gradient(to bottom, orange);
    left: 7%;
    font-size: 2vw;
    border-radius: 10px;
}

h3 {
    position: absolute;
    color: orange;
    text-align: center;
    width: 36.5vw;
    transform: translate(8%, calc(0% + 130%));
    background-color:rgb(57, 90, 201);
    border-radius: 10px;
    text-align: center;
    font-size: 1.1vw;
    text-justify: left;
    padding: 5px 5px;
    
}

.painel1 {
    align-items: center;
    background-image: linear-gradient(to top, rgb(57, 90, 201), orange 50%);
    height: 42%;
    width: 45%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 12px;
    transform: translate(0%, calc(0% + 0%));
    display: flex;
    
}

.painel2 {
    background-image: linear-gradient(to top, rgba(138, 43, 226)50%, rgb(100,88,212), rgb(57, 90, 201));
    height: 56%;
    width: 45%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 12px;
    transform: translate(0%, calc(0% + -175%));
    display: flex;

}

.painel3 {
    align-items: center;
    background-image: linear-gradient(to top,rgba(138, 43, 226, 0.9)25%, rgb(57, 90, 201), orange, orange 117%);
    height: 100%;
    width: 45%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    transform: translate(110%, calc(0% + -42%));
    display: flex;
}

.flutuantes1 {
    background-color: rgb(57, 90, 201);
    border-radius: 10%;
    width: 21%;
    height: auto;
    overflow: auto;
    position: absolute;
    align-items: center;
    transform: translate(-4.5%, calc(-83% + 0%));
    right: 6%;
}

.flutuantes1 img {
    transition: transform 0.3s ease;
    transform: scale(0.9);
}

.flutuantes1:hover img {
    transform: scale(1);
}

.flutuantes1 img:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .flutuantes1 img:hover::after {
    opacity: 1;
  }

.flutuantes2 {
    background-color: orange;
    border-radius: 10%;
    width: 21%;
    height: auto;
    overflow: auto;
    align-items: center;
    position: absolute;
    transform: translate(-5%, calc(-188% + 0%));
    left: 51%;
}

.flutuantes2 img {
    transition: transform 0.3s ease;
    transform: scale(0.9);
}

.flutuantes2:hover img {
    transform: scale(1);
}

.flutuantes2 img:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .flutuantes2 img:hover::after {
        opacity: 1;
  }

.flutuantes3 {
    background-image: linear-gradient(+135deg, orange 50%, rgb(57, 90, 201) 50%);
    border-radius: 10%;
    width: 21%;
    height: auto;
    overflow: auto;
    align-items: center;
    position: absolute;
    transform: translate(-4.5%, calc(-188% + 0%));
    right: 6%;
}

.flutuantes3 img {
    transition: transform 0.3s ease;
    transform: scale(0.8);
}

.flutuantes3:hover img {
    transform: scale(0.9);
}

.flutuantes3 img:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .flutuantes3 img:hover::after {
    opacity: 1;
  }

.flutuantes4 {
    background-image: linear-gradient(+135deg, orange 50%, rgb(57, 90, 201) 50%);
    border-radius: 10%;
    width:21%;
    height: auto;
    overflow: auto;
    align-items: center;
    position: absolute;
    transform: translate(-5%, calc(-83% + 0%));
    left: 51%;
}

.flutuantes4 img {
    transition: transform 0.3s ease;
    transform: scale(0.9);

}

.flutuantes4:hover img {
    transform: scale(1);
}

.flutuantes4 img:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: black;
    color: white;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .flutuantes4 img:hover::after {
    opacity: 1;
  }

.FEEDBACK {
    position: absolute;
    color: orange;
    text-align: center;
    width: 85%;
    font-size: 200%;
    left: 8%;
    background-color: rgb(57, 90, 201);
    border-radius: 2%;
    height: auto;
    padding: 5px 5px;
    top: 1%;

}

img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.projeto1 {

    background-color: orange;
    border-radius: 10px;
    width: 73%;
    height: 22vw;
    position: absolute;
    top: 2%;
    left: 12%;
    padding: 1%;
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease;
    animation-name: moverDiv;
    animation-duration: 0.8s;
    animation-delay: 3s;
    overflow: hidden;

}

.projeto1:hover {
    transform: scale(1.1);
}

.projeto1 h2 {

    text-decoration: none;
    position: absolute;
    color: orange;
    width: 92%;
    font-size: 1.5vw;
    top: 1%;
    left: 2%;
    background-color: rgb(57, 90, 201);
    border-radius: 10px;
    font-weight: 800;
    margin: 1%;
    line-height: 0.8;
}

.projeto1 img {
    transform: translate( 1.2%, calc(12%));
    border-radius: 10px;
    align-items: center;
    object-fit: cover;
    width: 98%;
}

.projeto2 {

    background-color: orange;
    border-radius: 10px;
    width: 73%;
    height: 14.1vw;
    position: absolute;
    top: 27%;
    left: 12%;
    padding: 1%;
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease;
    animation-name: moverDiv;
    animation-duration: 0.8s;
    animation-delay: 3s;
    overflow: hidden;

}

.projeto2:hover {
    transform: scale(1.1);
}

.projeto2 h2 {

    text-decoration: none;
    position: absolute;
    color: orange;
    width: 92%;
    font-size: 1.5vw;
    top: 1%;
    left: 2%;
    background-color: rgb(57, 90, 201);
    border-radius: 10px;
    font-weight: 800;
    margin: 1%;
    line-height: 0.8;
}

.projeto2 img {
    transform: translate( 1.2%, calc(18.5%));
    border-radius: 10px;
    align-items: center;
    object-fit: cover;
    width: 98%;
}

.projeto3 {
    background-color: orange;
    border-radius: 10px;
    width: 80%;
    height: 23.2vw;
    position: absolute;
    top: 44.2%;
    left: 8.5%;
    padding: 1%;
    display: flex;
    cursor: pointer;
    transition: transform 0.3s ease;
    animation-name: moverDiv;
    animation-duration: 0.8s;
    animation-delay: 3s;
    overflow: hidden;

}

.projeto3:hover {
    transform: scale(1.1);
}

.projeto3 h2 {

    text-decoration: none;
    position: absolute;
    color: orange;
    width: 92%;
    font-size: 1.5vw;
    top: 1%;
    left: 2%;
    background-color: rgb(57, 90, 201);
    border-radius: 10px;
    font-weight: 800;
    margin: 1%;
    line-height: 0.8;
}

.projeto3 img {
    transform: translate( 1.1%, calc(12%));
    border-radius: 10px;
    align-items: center;
    object-fit: cover;
    width: 98%;
}


.feedback1 {

    background-color: blueviolet;
    border-radius: 10px;
    width: 80%;
    height: auto;
    position: absolute;
    padding: 1%;
    display: flex;
    top: 1%;
    right: 3.5vw;
    transition: transform 0.3s ease;
    cursor: pointer;
    
}

.feedback1:hover {
    transform: scale(1.1);
}

.feedback1 img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.feedback1 h2 {
    background: none;
    height: 13%;
    width: auto;
    left: 60%;
    top: 22%;
    font-weight: bolder;
    font-size: 1.2vw;
}

.rolagem{
    transform: translate(6%, calc(-0% + 7%));
    width: 90%;
    height: 93.6%;
    display: flex;
    overflow-y: auto;
    overflow-x: auto;
    background-color: transparent;

}

.rolagem::-webkit-scrollbar {
    width: 0;

}

.base1 .rolagem {
    height: 88.8%;
    transform: translate(6%, calc(-0% + 13%));
}